// forms styles 
// ------------------------------------ \
form { 
    margin:0; text-align:left; 
}
input, textarea { 
    @include box-sizing(border-box); 
    padding:5px; margin-bottom:7px; 
    color:#666; 
    border:1px solid #ccc; 
    box-shadow:inset 0px 1px 1px rgba(0,0,0,.1); 
    border-radius:3px; 
    width:100%; 
}
textarea { min-height:80px; }
label {
    display:block; 
    margin-bottom:2px; 
}


// buttons 
// ------------------------------------ \
[type=submit], [type=reset], button, .button {
    display:inline-block; width:auto; 
    box-shadow:none; box-shadow:0 1px 1px rgba(0,0,0,.3); 
    padding:4px 12px; 
    border-radius:3px; 
}

$blue:#0088cc;
$gray:#eee;

@mixin buttonColorz($colorScheme) {
    color:white; 
    text-shadow:0 1px 0 darken($colorScheme,20%);
    border:1px solid $colorScheme;
    @include linear-gradient(lighten($colorScheme,4%), darken($colorScheme,2%)); 
    @content;
    &:hover { background:$colorScheme; }
    &:active { background:$colorScheme; box-shadow:inset 0 1px 1px rgba(0,0,0,.2); }
}
[type=submit], .blue { 
    @include buttonColorz($blue); 
}
[type=reset], .gray, button { 
    @include buttonColorz($gray){ 
        color:#666; text-shadow:0 1px 0 white; 
    }
}