[class^="ico-"]:before { 
    font-family:'icons';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
}
.ico-warning:before { content:"\e000"; }
.ico-cloud:before { content:"\e001"; }
.ico-locked:before { content:"\e002"; }
.ico-inbox:before { content:"\e003"; }
.ico-comment:before { content:"\e004"; }
.ico-mic:before { content:"\e005"; }
.ico-envelope:before { content:"\e006"; }
.ico-briefcase:before { content:"\e007"; }
.ico-cart:before { content:"\e008"; }
.ico-contrast:before { content:"\e009"; }
.ico-clock:before { content:"\e00a"; }
.ico-user:before { content:"\e00b"; }
.ico-cog:before { content:"\e00c"; }
.ico-music:before { content:"\e00d"; }
.ico-twitter:before { content:"\e00e"; }
.ico-pencil:before { content:"\e00f"; }
.ico-frame:before { content:"\e010"; }
.ico-switch:before { content:"\e011"; }
.ico-star:before { content:"\e012"; }
.ico-key:before { content:"\e013"; }
.ico-chart:before { content:"\e014"; }
.ico-apple:before { content:"\e015"; }
.ico-file:before { content:"\e016"; }
.ico-plus:before { content:"\e017"; }
.ico-minus:before { content:"\e018"; }
.ico-picture:before { content:"\e019"; }
.ico-folder:before { content:"\e01a"; }
.ico-camera:before { content:"\e01b"; }
.ico-search:before { content:"\e01c"; }
.ico-dribbble:before { content:"\e01d"; }
.ico-forrst:before { content:"\e01e"; }
.ico-feed:before { content:"\e01f"; }
.ico-blocked:before { content:"\e020"; }
.ico-target:before { content:"\e021"; }
.ico-play:before { content:"\e022"; }
.ico-pause:before { content:"\e023"; }
.ico-bug:before { content:"\e024"; }
.ico-console:before { content:"\e025"; }
.ico-film:before { content:"\e026"; }
.ico-type:before { content:"\e027"; }
.ico-home:before { content:"\e028"; }
.ico-earth:before { content:"\e029"; }
.ico-location:before { content:"\e02a"; }
.ico-info:before { content:"\e02b"; }
.ico-eye:before { content:"\e02c"; }
.ico-heart:before { content:"\e02d"; }
.ico-bookmark:before { content:"\e02e"; }
.ico-wrench:before { content:"\e02f"; }
.ico-calendar:before { content:"\e030"; }
.ico-window:before { content:"\e031"; }
.ico-monitor:before { content:"\e032"; }
.ico-mobile:before { content:"\e033"; }
.ico-droplet:before { content:"\e034"; }
.ico-mouse:before { content:"\e035"; }
.ico-refresh:before { content:"\e036"; }
.ico-location-2:before { content:"\e037"; }
.ico-tag:before { content:"\e038"; }
.ico-phone:before { content:"\e039"; }
.ico-star-2:before { content:"\e03a"; }
.ico-pointer:before { content:"\e03b"; }
.ico-thumbs-up:before { content:"\e03c"; }
.ico-thumbs-down:before { content:"\e03d"; }
.ico-headphones:before { content:"\e03e"; }
.ico-move:before { content:"\e03f"; }
.ico-checkmark:before { content:"\e040"; }
.ico-cancel:before { content:"\e041"; }
.ico-skype:before { content:"\e042"; }
.ico-gift:before { content:"\e043"; }
.ico-cone:before { content:"\e044"; }
.ico-alarm:before { content:"\e045"; }
.ico-coffee:before { content:"\e046"; }
.ico-basket:before { content:"\e047"; }
.ico-flag:before { content:"\e048"; }
.ico-ipod:before { content:"\e049"; }
.ico-trashcan:before { content:"\e04a"; }
.ico-bolt:before { content:"\e04b"; }
.ico-ampersand:before { content:"\e04c"; }
.ico-compass:before { content:"\e04d"; }
.ico-list:before { content:"\e04e"; }
.ico-grid:before { content:"\e04f"; }
.ico-volume:before { content:"\e050"; }
.ico-volume-2:before { content:"\e051"; }
.ico-stats:before { content:"\e052"; }
.ico-target-2:before { content:"\e053"; }
.ico-forward:before { content:"\e054"; }
.ico-paperclip:before { content:"\e055"; }
.ico-keyboard:before { content:"\e056"; }
.ico-crop:before { content:"\e057"; }
.ico-floppy:before { content:"\e058"; }
.ico-filter:before { content:"\e059"; }
.ico-trophy:before { content:"\e05a"; }
.ico-diary:before { content:"\e05b"; }
.ico-address-book:before { content:"\e05c"; }
.ico-stop:before { content:"\e05d"; }
.ico-smiley:before { content:"\e05e"; }
.ico-shit:before { content:"\e05f"; }
.ico-bookmark-2:before { content:"\e060"; }
.ico-camera-2:before { content:"\e061"; }
.ico-lamp:before { content:"\e062"; }
.ico-disk:before { content:"\e063"; }
.ico-button:before { content:"\e064"; }
.ico-database:before { content:"\e065"; }
.ico-credit-card:before { content:"\e066"; }
.ico-atom:before { content:"\e067"; }
.ico-winsows:before { content:"\e068"; }
.ico-target-3:before { content:"\e069"; }
.ico-battery:before { content:"\e06a"; }
.ico-code:before { content:"\e06b"; }