@import "vars";
@import "mixins";
@import "normalize";
@import "icons";
@import "utils";

body { font:75% Helvetica, Arial, sans-serif; }

// sticky footer
html, body { height:100%; }
body { overflow-y:scroll; }
body .wrap { min-height:100%; height:auto !important; height:100%; margin:0 auto -50px; }

header, footer { 
    background-color:#f1f1f1; height:50px; padding:20px; 
    @include box-sizing(border-box); 
}
.main { padding:20px; -webkit-perspective:2500px; 
       -moz-perspective:2500px;  }
i, address { font-style:normal; }

// client
.client { 
    position:relative; padding:10px;
    &:nth-child(even) { background-color:#f7f7f7; }
    
    h2 {  }
    h4 { margin:0; display:inline-block; }
    address { font-size:12px; }
    .id { font-size:11px; display:inline-block; background-color:white; border:1px solid #eee; border-radius:4px; padding:1px 4px; }
}

.client-profile { 
   -webkit-transform-style:preserve-3d; 
      -moz-transform-style:preserve-3d; 
    //@include transition( width .5s, height .5s );
    @include transform( rotateY(-35deg) rotateX(0deg) translateZ(0px) );
    background:white; padding:15px; 
    width:250px; height:300px; 
    position:absolute; top:0; right:100px; 
    border:1px solid #ddd; 
    
    // 3d faces
    [class*="face-"] { 
        position:absolute; background-color:rgba(0,0,0,.2); 
    }
    .face-left, .face-right { top:0; bottom:0; width:10px; @include transform(translateZ(-5px) rotateY(90deg)); }
    .face-left  { left:-5px; }
    .face-right { right:-5px; }
    .face-top, .face-bottom { left:0; right:0; height:10px; @include transform(translateZ(-5px) rotateX(90deg));  }
    .face-top    { top:-5px; }
    .face-bottom { bottom:-5px; }
    .face-back { top:0; bottom:0; left:0; right:0; background-color:#f1f1f1; @include transform(translateZ(-5px)); }
}
.flip {
    @include animation(flip .8s ease); 
}
@-webkit-keyframes flip { 
    from { -webkit-transform: rotateY(-35deg) rotateX(180deg); }
    to   { -webkit-transform: rotateY(-35deg) rotateX(0deg); } 
}