@import "vars";
@import "mixins";
@import "normalize";
@import "icons";
@import "utils";

body { font:75% Helvetica, Arial, sans-serif; }

// sticky footer
html, body { height:100%; }
body { overflow-y:scroll; }
body .wrap { min-height:100%; height:auto !important; height:100%; margin:0 auto -50px; }

header, footer { 
    background-color:#f1f1f1; height:50px; padding:20px; 
    @include box-sizing(border-box); 
}
.main { padding:20px; }
i, address { font-style:normal; }

// client
.client { 
    position:relative; padding:10px;
    &:nth-child(even) { background-color:#f7f7f7; }
    
    h2 {  }
    h4 { margin:0; display:inline-block; }
    address { font-size:12px; }
    .id { font-size:11px; display:inline-block; background-color:white; border:1px solid #eee; border-radius:4px; padding:1px 4px; }
}