// delete-animation (override of the desktop version)
.delete-animation { @include animation(delete-animation .3s ease both); }
@-webkit-keyframes delete-animation {
    from { -webkit-transform:translate3d(-100%,0,0); }
    to   { -webkit-transform:translate3d(0%,0,0); }
}
@-moz-keyframes delete-animation {
    from { -webkit-transform:translate3d(-100%,0,0); }
    to   { -moz-transform:translate3d(0%,0,0); }
}
@-ms-keyframes delete-animation {
    from { -webkit-transform:translate3d(-100%,0,0); }
    to   { -ms-transform:translate3d(0%,0,0); }
}
@keyframes delete-animation {
    from { -webkit-transform:translate3d(-100%,0,0); }
    to   { transform:translate3d(0%,0,0); }
}

// reset any transition or animation set on an element
.drag { 
    @include animation(none);
    @include transition(none);
}