// cloned version of the user view for the delete animation
$oneThirdHeight:350px / 3;
.user-profile {

    .cloned-views { 
        position:absolute; left:0; right:0; top:0; bottom:0; z-index:-1; 
        // -webkit-transform-style:preserve-3d; 
        // -moz-transform-style:preserve-3d;
    }

    [class*="third-"] {
        overflow:hidden;
        height:$oneThirdHeight;
        position:relative;
        // -webkit-transform-style:preserve-3d; 
        // -moz-transform-style:preserve-3d;
    }
    .third-1 {
        //cubic-bezier(.85, 0, 1, 1)
        
        @include animation(delete-third-1 1s both);
    }
    .third-22 {
        @include animation(delete-third-2 1s both);
        .user-profile { margin-top:-$oneThirdHeight; border-radius:0; }
    }
    .third-3 {
        @include animation(delete-third-3 1s both);
        .user-profile { margin-top:-$oneThirdHeight*2; border-top:none; border-top-left-radius:0; border-top-right-radius:0; }
    }

    // yes this is crazy but it works just great!! :)
    .deletion-in-progress > & { 
        border:none; background:none; 
        > *:not(.cloned-views) { visibility:hidden; }
    }
}
@-webkit-keyframes delete-third-1 { 
    0%  { -webkit-animation-timing-function:linear; -webkit-transform-origin:bottom center; -webkit-transform:rotateX(   0deg) rotateY(  0deg) translate3d(0px,0px, 0px); }
    25% { -webkit-animation-timing-function:linear; -webkit-transform-origin:bottom center; -webkit-transform:rotateX( -10deg) rotateY(  0deg) translate3d(0px,0px,10px); } 
    50% { -webkit-animation-timing-function:linear; -webkit-transform-origin:bottom   left; -webkit-transform:rotateX( -30deg) rotateY(  0deg) translate3d(0px,0px,10px); } 
    100%{ -webkit-animation-timing-function:linear; -webkit-transform-origin:bottom   left; -webkit-transform:rotateX(-120deg) rotateY(-10deg) translate3d(0px,0px,10px); } 
}

@-webkit-keyframes delete-third-2 { 
    from { -webkit-transform: rotateX(0deg); }
    to   { -webkit-transform: rotateX(0deg); } }

@-webkit-keyframes delete-third-3 { 
    from { -webkit-transform: rotateX(0deg); }
    to   { -webkit-transform: rotateX(0deg); } }
