// structure 
$mainColWidth: 550px; 
$mainColHeight: 400px; 

.border-box { 
    @include box-sizing(border-box); 
}
.main { 
    @extend .border-box; 
    position:relative; 
    margin:50px auto; 
    width:$mainColWidth; 
    -webkit-perspective:2500px; 
       -moz-perspective:2500px; 
}

.users-listing { 
    @extend .border-box; 
    width:$mainColWidth/2; 
    max-height:$mainColHeight; 
    overflow:auto; 
}

.user-pane { 
    @extend .border-box; 
    width:$mainColWidth/2 + 15; // + 15 pixels to make it overlaps the users-listing
    height:$mainColHeight; 
    -webkit-transform-style:preserve-3d; 
    -moz-transform-style:preserve-3d;
    @include transform(rotateY(0deg));
    position:absolute; top:0; right:0; 
}


// user list styles
.users-listing { 
    height:280px;
    position:relative; margin-top:5px; 
    border:4px solid rgba(0,0,0,.5); 
    background:rgb(50,50,50); 
    border-radius:4px; 
    padding:0; list-style:none; 

    li a { 
        display:block; padding:15px 20px; 
        text-decoration:none; color:#eee; 
        &.active { background-color:#000; }
    }
    li.no-users-yet {
        margin:80px;
        color:#555; font-size:18px;
        text-shadow:0px -1px 0px #000;
    }
}
.create-btn { 
    padding:4px 5px;
    position:static; top:-18px; left:0;
    > span { position:absolute; color:black; font-size:11px; text-shadow:none; left:30px; }
}
.users-count { position:absolute; top:7px; left:200px; }

.pane { 
    @extend .border-box; 
   //box-shadow:0 0 5px rgba(0,0,0,.3); 
   -webkit-transform-style:preserve-3d; 
      -moz-transform-style:preserve-3d; 
   background:white; border-radius:3px; 
   border:1px solid #ccc; 

   // 3d faces 
   $faceLength: 6px; 
   [class*="face-"] { 
       position:absolute; background-color:rgba(0,0,0,.3); 
   }
   .face-left, .face-right { top:0; bottom:0; width:$faceLength; @include transform(translateZ(-$faceLength/2) rotateY(90deg)); }
   .face-left  { left:-$faceLength/2; }
   .face-right { right:-$faceLength/2; }
   .face-top, .face-bottom { left:0; right:0; height:$faceLength; @include transform(translateZ(-$faceLength/2) rotateX(90deg)); }
   .face-top    { top:-$faceLength/2; }
   .face-bottom { bottom:-$faceLength/2; }
   .face-back { top:0; bottom:0; left:0; right:0; background-color:#f1f1f1; @include transform(translateZ(-$faceLength/2)); }
}

// user pane styles
.user-profile { 
    @extend .border-box; 
    -webkit-transform-style:preserve-3d; 
       -moz-transform-style:preserve-3d; 
            transform-style:preserve-3d; 
    width:100%; height:350px; 
    text-align:center; 
    position:absolute; top:0; z-index:2; 
    padding:15px; 

    h2 { margin-bottom:0; text-transform:uppercase; font:bold 18px 'Helvetica Neue', Arial; color:#333; }
    .img { 
        width:110px; height:110px; margin:12px auto 0;
        padding:5px; border:1px solid #ddd; 
        border-radius:100%; overflow:hidden; 
        img { max-width:100%; border-radius:100%; }
    }
    address { color:#999; font-size:14px; font-style:normal; }
    .bio { 
        color:#999; font-size:13px; 
        margin:25px -15px 0 -15px; padding:20px 25px;
        background:white;
        border:1px solid #eee;
        border-left:none; border-right:none;
    }
    .date {
        padding:.4em .6em;
        color:#999; font-size:10px; 
        position:absolute; top:17px; left:17px;
        border:1px solid #eee; border-radius:2px;
    }

    // -webkit-transform:rotateY(40deg) !important;
}

.tools { 
    display:block; z-index:1;
    .icon-pencil, 
    .icon-trashcan, 
    .icon-arrow-left { 
        display:inline-block; cursor:pointer; 
        font-size:15px; text-decoration:none; 
        padding:4px 5px; 
    }
}

// edit view
.user-edit { 
    width:100%; height:350px; 
    text-align:center; 
    position:absolute; right:0; z-index:1; 

    padding:25px; 

    button { margin-top:5px; }

    &.hidden { visibility:hidden; }
    &.shown  { visibility:visible; }
}

// user creation styles
.user-create {
    @extend .user-edit; 
}

.about-this-demo {
    $color:black;
    
    position:absolute; bottom:10px; left:10px;
    color:$color; text-decoration:none;
    
    &:hover { color:$blue; }
    
    // icon
    &:before {
        margin-right:7px;
        width:30px; height:29px; line-height:32px;
        display:inline-block; vertical-align:middle;
        font-size:28px; text-align:center; text-indent:-1px;
        border-radius:100%; border:2px solid $color;
    }
}
// all mobile btns are hidden by default
.btn-mobile { 
    display:none !important; 
}
.icon-grip { 
    display:none;
}
