@font-face {
    font-family:'icons'; 
    src:url('../fonts/icons/icons.eot'); 
    src:url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/icons/icons.woff') format('woff'), 
        url('../fonts/icons/icons.ttf') format('truetype'), 
        url('../fonts/icons/icons.svg#icons') format('svg'); 
    font-weight:normal; 
    font-style:normal; 
}

[class*="icon-"]:before { 
    font-family:'icons';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    vertical-align:middle;
    -webkit-font-smoothing:antialiased;
}
.icon-plus:before         { content:"\e000"; }
.icon-cross:before        { content:"\e001"; }
.icon-arrow-right:before  { content:"\e002"; }
.icon-arrow-left:before   { content:"\e003"; }
.icon-pencil:before       { content:"\e004"; }
.icon-wrench:before       { content:"\e005"; }
.icon-cog:before          { content:"\e006"; }
.icon-trashcan:before     { content:"\e007"; }
.icon-eye:before          { content:"\e008"; }
.icon-pencil-2:before     { content:"\e009"; }
.icon-grip:before         { content:"\e00a"; }
