// those are overrides of the main styles but only for small screens ( < 650px )
@media screen and (max-width:650px) {

    // ------------
    // desktop styles reset
    // ------------

    .main { width:auto; margin:0; -webkit-perspective:none; -moz-perspective:none; }
    .users-listing { margin:0; width:auto; max-height:none; overflow:visible; border-radius:0; }
    .user-pane { width:auto; height:auto; position:static; top:auto; right:auto; }
    .user-profile, .user-edit, .user-create { height:100%; }
    .pane { border-radius:0; @include animation(none); }
    [class*="face-"] { display:none; }


    // ------------
    // now let's apply small screens styles
    // ------------

    // vars
    $toolsHeight: 45px;

    .main { overflow:hidden; }

    .tools { 
        @include box-sizing(border-box);
        padding:10px 20px; 
        width:100%; height:$toolsHeight; 
        background-color:#222; border:4px solid black; border-top:none; 
    }

    .main > .tools { 
        position:fixed; top:0; z-index:1; 
        .create-btn > span { color:white; left:50px; }
    }
    .users-listing { 
        overflow:scroll; -webkit-overflow-scrolling:touch;
        height:100%; padding-top:$toolsHeight;
        li a { border-bottom:3px solid #292929; }
    }

    .user-pane { 
        // offscreen by default
        position:absolute; z-index:1; top:0; left:100%; outline:1px solid hotpink;
        // takes all space possible
        width:100%; height:100%; padding-top:$toolsHeight; 
        // can transition if any transform property changes (but with a micro delay)
        -webkit-transition:-webkit-transform .4s ease .1s;
           -moz-transition:   -moz-transform .4s ease .1s;
            -ms-transition:    -ms-transform .4s ease .1s;
                transition:        transform .4s ease .1s;
    }
    .user-profile {
        // trigger the entrance animation
        //@include transform(translate3d(-100%,0,0));
        @include animation(slideFromRightToLeft .3s both .1s);

        padding-top:$toolsHeight+20;

        .tools { 
            position:absolute; top:0; left:0; 
            background-color:lighten($gray,5%); border:none; border-bottom:4px solid $gray; 
        }
        
        .date {
            display:inline-block;
            position:static; margin-top:25px;
            font-size:12px; background:#f1f1f1; border-color:#ddd;
        }
    }
}
