body { font:75% Helvetica, Arial, sans-serif; overflow-y:scroll; background-color:#f1f1f1; }
i { font-style:normal; }
h3 { margin:0 0 10px 0; text-align:left; text-transform:uppercase; }
hr { border:none; border-bottom:1px solid #eee; margin:15px 0; }
