@import "vars";
@import "mixins";
@import "normalize";
@import "forms";
@import "buttons";
@import "icons";
@import "utils";
@import "types";
@import "confirm-box";
@import "for-oh-for";
@import "modals";
@import "desktop";
@import "animations-desktop";

// those are overrides of the main styles but only for small screens ( < 650px )
@media screen and (max-width:650px) {
    @import "mobile";
    @import "animations-mobile";
}