{{! this is our main template which is called application }}
{{! all our other templates are injected into this outlet }}
{{! http://emberjs.com/guides/routing/generated-objects/#toc_generated-views-and-templates }}
<h1>Title</h1>
{{outlet}}
