{{#view App.Modal}}
    <h3>About this demo</h3>
    <hr/>
    <p>This app is an Ember JS app. It demonstrates how you can achieve a simple CRUD with complexe css animations / transitions.</p>
    <p>There is also a mobile version, which has some cool responsive tricks. Visit this app with your phone or simply resize your browser.</p>
    <hr/>
    <p>A <a href="#" target="_blank">companion article</a> posted at Smashing Magazine teaches you all you need to know about this app and more generally about how to code single page web apps with Ember.</p>
    <p>Finally this app and its source code are <a href="https://github.com/jkneb/ember-crud" target="_blank">hosted at Github</a>.</p>
{{/view}}
