{{#modal-box isModalVisible=modalVisible}}

    <h3>About this demo</h3>
    <hr/>
    <p>This demo is an Ember JS app, it demonstrates how you can achieve a simple CRUD with Ember 1.0 + Ember-Data 1.0-beta. It also demonstrates the use of complexe css animations / transitions on views and before route transitions.</p>
    <p>Datas are stored / persisted in the browser's <code>Local Storage</code> with Ember-Data's <a href="https://github.com/rpflorence/ember-localstorage-adapter" target="_blank">LSAdapter</a>.</p>
    <p>There is also a mobile version, which has some cool responsive tricks. Visit this app with your phone or simply resize your browser to test it out.</p>
    <hr/>
    <p>A <a href="#" target="_blank">companion article</a> posted at Smashing Magazine teaches you all you need to know about this app and more generally about how to code web apps with Ember.</p>
    <p>Finally this app and its source code are <a href="https://github.com/jkneb/ember-crud" target="_blank">hosted at Github</a>.</p>

{{/modal-box}}
