{{#modal-box isModalVisible=modalVisible}}

    <h3>About this demo</h3>
    <hr/>
    <p>This demo is an Ember JS app, it demonstrates how you can achieve a simple CRUD with Ember 1.1.2 + Ember-Data 1.0.0-beta3. It also demonstrates the use of complex css animations / transitions on views and before or after route transitions.</p>
    <p>Data is stored / persisted in the browser's <code>Local Storage</code> with Ember-Data's <a href="https://github.com/rpflorence/ember-localstorage-adapter" target="_blank">LSAdapter</a>.</p>
    <p>There is also a mobile version, which has some cool responsive tricks to handle touch gestures. Visit this app with your phone or simply resize your browser to check it out.</p>
    <hr/>
    <p>A <a href="http://coding.smashingmagazine.com/2013/11/07/an-in-depth-introduction-to-ember-js/" target="_blank">companion article</a> posted at Smashing Magazine teaches you all you need to know about this app and more generally about how to build web apps with Ember.</p>
    <p>Finally this demo and its source code are <a href="https://github.com/jkneb/ember-crud" target="_blank">hosted at Github</a>.</p>

{{/modal-box}}
